NEXT_PUBLIC_APP_NAME=Spotify Recs
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
NEXT_PUBLIC_SPOTIFY_CLIENT_ID=
NEXT_PUBLIC_REDIRECT_URI=http://127.0.0.1:3000/callback
NEXT_PUBLIC_SCOPES=user-read-email playlist-read-private playlist-read-collaborative